<h1> Login </h1>


<form action="/login" method="POST">
    <input type="text" name= "username" placeholder="username">
    <input type="password" name= "password" placeholder="password">
    <input type="text" name= "type" value="student" hidden>
    <button>SUBMIT</button>
</form>

<li><a href="/register">signup</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>