<h1> New MIni Project</h1>
    <form action="/project_mini" method="POST">
         
            <input type="text" name="project_mini[faculty]" placeholder= "faculty">
            <input type="text" name="project_mini[project]" placeholder= "title">
            <input type="submit">

    </form>
</div>