<h1>New BTP</h1>
    <form action="/project_btp" method="POST">
         
            <input type="text" name="project_btp[faculty]" placeholder= "faculty">
            <input type="text" name="project_btp[project]" placeholder= "title">
            <input type="submit">

    </form>
</div>