<h1> signup page</h1>



<form action="/register" method="POST">
    <input type="text" name= "username" placeholder="username">
    <input type="password" name= "password" placeholder="password">
    <input type="type" name= "type" placeholder="type">
    <button>SUBMIT</button>
</form>

<li><a href="/register">signup</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>